* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    zoom: 1;
    box-sizing: border-box;
}

:root {
    /* variáveis */
    --cor-primaria: #195042;
    --cor-secundaria:#0f606b;
    --cor-terciaria:#1fb85a;
    --cor-texto:#fff;
    --cor-destaque:#860326;
    --cor-sombra:#15459e;
    --cor-sombra-opacidade:#15459eab;
    --fonte-padrao:"Ubuntu", sans-serif;
    --fonte-destaque: "M PLUS Rounded 1c", sans-serif;
    --transissao: 0.2s;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to bottom right, var(--cor-primaria), var(--cor-secundaria), var(--cor-terciaria));
}

/* cabeçalho */

.cabecalho {
    font-size: 1rem;
    height: 6vh;
    width: 100%;
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-terciaria), var(--cor-primaria));
    z-index: 1;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
}

.cabecalho_menu {
    width: 100%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
}

.cabecalho_menu a {
    font-family: var(--fonte-destaque);
    font-size: 1.2rem;
    color:var(--cor-texto);
    padding-right: 5%;
}

.cabecalho_menu a:hover {
    color: var(--cor-destaque);
    text-decoration: underline;
}

.register_btn {
    width: 15%;
    display: inline-flex;
    flex-direction: row-reverse;
    
}

/* fim cabeçalho */

/* banner */

.banner {
    width: 100%;
    height: 80vh;
    margin-bottom: 5%;
    background-image: url(../images/iara-resized-1056x600.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: opacity(80%);
}

.banner h1 {
    font-family: var(--fonte-destaque);
    font-size: 12vw;
    text-align: center;
    text-shadow: 5px 5px var(--cor-sombra);
    padding-top: 5%;
    color: var(--cor-texto);
    opacity: 95%;
}

.banner h2 {
    font-family: var(--fonte-destaque);
    font-size: 3vw;
    text-align: center;
    color: var(--cor-texto);
    text-shadow: 3px 3px var(--cor-sombra);
}

/* fim banner */

/* navegação interna */

.navegacao {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 2%;
    gap: 8%;
    width: 75%;
    height: 5vh;
    margin: 0 12.5%;
    background: linear-gradient(90deg, #195042aa 60%, #1fb85a);
    box-shadow: -5px 2px 8px 1px var(--cor-terciaria);
}

.navegacao a {
    font-size: 1.1rem;
    color: var(--cor-texto);
    background-color: var(--cor-sombra);
    width: 10%;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    text-align:center;
    scroll-behavior: smooth;
}

.navegacao a:hover {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-terciaria);
    transform: scale(1.1);
    transition: var(--transissao);
}

.dropdown {
    font-size: 1.1rem;
    display: inline-block;
    height: 1.5rem; 
    width: 6rem;
    text-align: center;
}

.dropdown_btn {
    background-color: var(--cor-sombra);
    color: var(--cor-texto);
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.dropdown_btn i {
    color: #fff;
}

.dropdown_conteudo a {
    display: none;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 2px 3px var(--cor-sombra-opacidade);
}

.dropdown_btn:hover {
    background-color: var(--cor-secundaria);
}

.dropdown:hover .dropdown_conteudo a {
    display: block;
}

/* fim navegação interna */

.subtitulo {
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    text-align: center;
    margin: 10% 0;
    color: var(--cor-texto);
    text-shadow: 5px 2.5px 2px var(--cor-sombra);
}

.carrossel_destaques, .carrossel_ofertas {
    width: 100%;
    padding: 20px;
    box-shadow: 0px 5px 20px #000;
    margin: 10% 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
}

/* .carrossel_ofertas {
    width: 100%;
    padding: 20px;
    box-shadow: 0px 5px 20px #000;
    margin: 10% 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;  
    background-color: var(--cor-secundaria);  
} */

.card {
    height: 70vh;
    width: 20vw;
    background-color: var(--cor-primaria);
    border: solid 2px var(--cor-sombra);
    box-shadow: 10px 5px 3px var(--cor-sombra-opacidade);
    border-radius: 10px;
    margin: 15px 10px;
    text-align:center;
}

.card:hover {
    transform: scale(1.1);
    transition: var(--transissao);
    cursor: pointer;
    border: 1px solid var(--cor-destaque);
}

.card h3 {
    font-size: 2.2vw;
    padding: 0.5rem;
    font-family: var(--fonte-destaque);
}

.card p {
    font-family: var(--fonte-padrao);
}

.descricao {
    width: 100%;
    max-height:50%;
    margin: 5% 0;
    border-radius: 5px;
    color: var(--cor-texto);
    text-shadow: 2px 2px 2px var(--cor-sombra);
    overflow:auto;
    overflow-wrap: break-word;
    scrollbar-color:  var(--cor-secundaria) transparent;
    scrollbar-width: 1px;
}


.img {
    height: 40%;
    width: 100%;
    border-radius: 10px;
}

.preco {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
}

.preco_cheio {
    text-decoration: line-through;
    color: var(--cor-destaque);
    height: 100%;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
}

.preco_desconto {
    color: var(--cor-texto);
    height: 100%;
    width: 50%;
    background-color: var(--cor-terciaria);
    border-radius: 5px;
}

.rodape {
    height: 10vh;
    width: 100%;
    background-color: var(--cor-primaria);
    color:var(--cor-texto) ;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

/* página sobre.html */

.container {
    width: 70%;
    height: 50%;
    font-family: var(--fonte-padrao);
    color:#000;
    background-color:#1fb85a94 ;
    border-radius: 10px;
    box-shadow: 8px 8px 3px var(--cor-sombra-opacidade);
    margin: 10% 15%;
    padding: 5% 2%;
}

.container h2 {
    font-size: 3rem;
    margin-top: 0%;
    font-family: var(--fonte-destaque);
}

.container p {
    font-size: 1.3rem;
    line-height: 1.2;
    font-family: var(--fonte-padrao);
    word-spacing: 0.18rem;
}

.redes {
    background:linear-gradient(to right, var(--cor-secundaria), var(--cor-terciaria), var(--cor-secundaria));
    width: 80%;
    height: 10vh;
    margin: 5% 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px var(--cor-sombra-opacidade);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
}

.redes a {
    color: var(--cor-texto);
    font-weight: 600;
    background-color: var(--cor-primaria);
    width: 10%;
    height: 50%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes a:hover {
    background-color: var(--cor-terciaria);
    color:#000;
    border: 1px solid var(--cor-sombra);
    transform: scale(1.1);
    transition: var(--transissao);
}

/* registro.html */

.form_container {
    color: #fff;
    margin: 5% 30%;
    min-height: 90vh;
    width: 40%;
    background-color: var(--cor-primaria);
    border-radius: 15px;
    border: 2px solid var(--cor-terciaria);
    box-shadow: 5px 5px 2px var(--cor-sombra-opacidade);
}

.form_container h2 {
    color: #fff;
    text-align: center;
    padding-top: 2%;
    
}

.form_box_item {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items:start;
    margin: 2rem 1rem;

}

.form_box_item label {
    font-size: 1.1rem;
}

.form_box_item i {
    font-size: 1.1rem;
}

.form_item {
    width: 80%;
    height: 2rem;
    margin: 0 5%;
    border: solid 2px var(--cor-secundaria);
    border-radius: 5px;
    font-size: 1.2rem;
}

.form_btn {
    font-size: 1.2rem;
    margin: 10% 37.5%;
    background-color: var(--cor-secundaria);
    color: #fff;
    border: solid 2px var(--cor-terciaria);
    border-radius: 10px;
    width: 25%;
    height: 3.5rem;
    cursor: pointer;
}

.form_btn:hover {
    background-color: var(--cor-sombra);
}